<div>
    <div class="row" *ngIf="showMessage">
        <div class="alert text-center" role="alert" [ngClass]="error ? 'alert-danger': 'alert-success'">
            {{message}}
        </div>
    </div>
    <form class="flex-center">
        <div>
            <input type="text" class="form-control withdrawal" placeholder="Ingrese monto a retirar..."
                [value]="inputValue" disabled>
        </div>
    </form>
    <app-keyboard (keyboardEvent)="onKeyboardEvent($event)" (cleanEvent)="onClean($event)"
        (acceptEvent)="onAccept($event)"></app-keyboard>
</div>