<div>
    <form>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Número Tarjeta:</label>
            <input type="text" class="form-control" [value]="operation.cardNumber" disabled>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Balance:</label>
            <input type="text" class="form-control" [value]="operation.balance" disabled>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput3" class="form-label">Fecha de Operación:</label>
            <input type="text" class="form-control" [value]="operation.operationDate" disabled>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput4" class="form-label">Cantidad Extraida:</label>
            <input type="text" class="form-control" [value]="operation.amount" disabled>
        </div>
        <button class="btn btn-primary" (click)="back($event)">Atrás</button>
    </form>
</div>